/* -------  */
/* reset    */
/* -------  */

/* https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*  Reset Margins  */

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 15px;
  font-family: "Figtree", sans-serif;
}

/* Default Colors */
body {
  --color-red: hsl(0, 78%, 62%);
  --color-cyan: hsl(180, 62%, 55%);
  --color-orange: hsl(34, 97%, 64%);
  --color-blue: sl(212, 86%, 64%);
  --color-verydarkblue: hsl(234, 12%, 34%);
  --color-grayishblue: hsl(229, 6%, 66%);
  --color-verylightgray: hsl(0, 0%, 98%);
  --color-white: #fff;
  --color-black: #000;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

.container {
  max-width: 1140px;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
